@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
body{
  /* height:100vh; */
  display: grid;
  place-content: center;
  /* background-color:grey; */
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.images{
  height:250px;
  width:150px;
  object-fit: cover;
}
.movie{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  /* margin-left: 100px; */
  gap:1rem;
}
.movieslot{
  margin-top: 10px;
  max-width:250px;
  transition:transform 0.3s;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.5);
}
.movieslot:hover{
  cursor:pointer;
  transform:scale(1.05);
  background-color:grey;
  color:whitesmoke;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.5);
}
.content{
  display:flex;
  justify-content: center;
    align-items: center;
}
.titlecontent{
  font-family: 'Limelight', cursive;
}
.headcontent{
  display: flex;
  justify-content: center;
  font-family: 'Trocchi', serif;
}
.msgcontent{
  display: flex;
  text-align: justify;
  justify-content: center;
  padding:15px;
  /* padding-top:2px; */
  margin-top:0px;
  /* margin-bottom: 10px; */
  font-family: 'Sorts Mill Goudy', serif;
}
.inside {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}